@import "@material/tab-bar/mixins";
@import "colours";

.tab-bar-alternate {
  @include mdc-tab-bar-width(30em);
  // position: absolute !important;
  // margin-left: auto !important;
  margin-right: 50% !important;
}

.mdc-tab {
  height: 64px !important;
}

.mdc-tab-scroller__scroll-area--scroll {
  overflow-x: hidden !important;
}
